
<div class="container">
    <p>Tecnologias desenvolvidas com NodeJS:</p>
    <ul>
        {{#each (nodeTechnologies technologies)}}
            <li>{{name}} - {{type}}</li>
        {{/each}}
    </ul>
</div>